<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    <!--COMPONENTES DEL GOOGLE COLAB-->
    
</head>
<body>
    <header>
        <nav class="navegacion">
            <div class="navegacion_logo">
                <a class="navegacion_link" href="/"><img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo"> Web Mining</a>
            </div>
            <div class="navegacion_links">
                <a class="navegacion_link" href="/analisis">Analisis</a>
                <a class="navegacion_link" href="/dashboard">Dashboard</a>
                <a class="navegacion_link" href="/extraccion">Extraccion</a>
            </div>
        </nav>
    </header>
    <main>
    {% block body %}
    {% endblock %}
    </main>
    <footer class="centrar_texto">
        <p>Todos los derechos reservador Carlos Quintero, Samir Rojas, Luis Ruiz y Andres Acosta &copy;</p>
    </footer>
</body>
</html>